<!-- src/app/components/product-list/product-list.component.html -->
<div class="main-container">
  <div class="product-list-container">
    <div class="search-and-add-container">
      <div class="search-container">
        <input type="text" placeholder="Search..." class="search-input" [(ngModel)]="searchText" />
      </div>
      <button (click)="navigateToAddProduct()" class="add-product-button">Agregar</button>
    </div>
    <div class="table-container">
      <table class="product-table">
        <thead>
        <tr>
          <th>Logo</th>
          <th>Nombre del producto </th>
          <th>Descripción <img ngSrc="assets/icon/information-icon.svg" alt="Info Icon" class="icon" height="44"
                               width="44"/></th>
          <th>Fecha de liberación <img ngSrc="assets/icon/information-icon.svg" alt="Info Icon" class="icon" height="44"
                                       width="44"/></th>
          <th>Fecha de reestructuración <img ngSrc="assets/icon/information-icon.svg" alt="Info Icon" class="icon" height="44"
                                             width="44"/></th>
          <th></th> <!-- Columna para el menú de acciones -->
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let product of paginatedProducts | filter:searchText">
          <td><img [src]="product.logo" alt="{{ product.name }}" class="product-logo" /></td>
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.date_release | dateFormat }}</td>
          <td>{{ product.date_revision | dateFormat }}</td>
          <td>
            <div class="dropdown">
              <button class="dropdown-button" (click)="toggleDropdown($event, product.id)">⋮</button>
              <div class="dropdown-content" [class.show]="dropdownProductId === product.id">
                <button (click)="handleEdit(product)" class="action-button edit-button">Editar</button>
                <button (click)="handleDelete(product.id)" class="action-button delete-button">Eliminar</button>
              </div>
            </div>
          </td>
        </tr>
        </tbody>
      </table>
      <div class="pagination-container">
        <span class="results-count">{{ paginatedProducts.length }} Resultados</span>
        <select id="pagination-select" [(ngModel)]="itemsPerPage" (change)="onPageChange()">
          <option value="5">5</option>
          <option value="10">10</option>
          <option value="20">20</option>
        </select>
      </div>
    </div>
  </div>
  <!-- Paginación -->

  <app-confirm-dialog *ngIf="showModal"
                      [message]="'¿Estás seguro de eliminar el producto ' + productToDelete?.name + '?'"
                      [type]="'confirm'"
                      (confirm)="confirmDelete()"
                      (cancel)="closeModal()">
  </app-confirm-dialog>
</div>
